NEXT_PUBLIC_SUPABASE_URL=https://hfablmhdvrawfxcwooda.supabase.co
NEXT_PUBLIC_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhmYWJsbWhkdnJhd2Z4Y3dvb2RhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDUzMTEyMDAsImV4cCI6MjA2MDg4NzIwMH0.CpomBLg_Lfxe-7HASdoCdy8X2EsKJ_OHrtXQY9nhv7w